In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "capstone", password = "Capstone1234", database = "dblittlelemon")

In [3]:
cursor = connection.cursor()

In [8]:

import mysql.connector as connector
connection = connector.connect(user = "capstone", password = "Capstone1234", database = "dblittlelemon")
cursor = connection.cursor()
show_tables_query = "SHOW Tables"
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)
cursor.close()
connection.close()

[('Bookings',), ('Customers',), ('Delivery',), ('Menu',), ('MenusItems',), ('Orders',), ('ordersview',), ('Staff',)]

In [9]:
import mysql.connector as connector
connection = connector.connect(user = "capstone", password = "Capstone1234", database = "dblittlelemon")
cursor = connection.cursor()
query = """
SELECT c.CustomerName, c.CustomerContact, c.CustomerEmail, o.TotalCost
FROM Orders AS o
JOIN Customers AS c ON o.CustomerID = c.CustomerID
WHERE o.TotalCost > 60;
"""

cursor.execute(query)
results = cursor.fetchall()
print(results)
cursor.close()
connection.close()

[]

[]